html {
    font-family: 'Roboto', sans-serif;
    color: #222;
    scroll-behavior: smooth;
}

body {
    background-color: #f3f5f7;
}

.page_header {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/background.png');
    background-size: cover;
    min-height: 450px;
}

.page_header-container {
    display: flex;
    justify-content: center;
}

.page_header-logo {
    margin: 1rem 0;
}

.page_header-logo img {
    max-width: 365px;
}

.navbar {
    background: url('../img/wool.webp');
    background-size: 64px 64px;
    background-repeat: repeat;
}

.navbar-nav {
    text-align: center;
    
    .nav-link {
        margin: 0 10px;
        font-size: 1.325rem;
        transition: all 0.4s ease-in-out;

        &:hover {
            color: orange;
        }
    }
}

.page-content-container {
    margin: 2rem auto;
}

.content-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.content-menu-column {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content-menu-column:first-child {
    flex: 1;
}

.content {
    padding: 30px 2%;

    .content-col {
        background: white;
        border-radius: 8px;

        &:not(.col-md-3) {
            padding: 5px;
        }

        @media (min-width: 991px) {
            &.content-infos {
                margin-left: 8%;
            }
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        background: rgb(248, 249, 250);
    }

    .content-container {
        flex-direction: column;
    }
}

@media (max-width: 1199px) {
    .page_header {
        background-position-x: center;
    }
}

@media (min-width: 1200px) {
    .page_header {
        background-position: 100%;
    }
}