html {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

body {
    background-color: darkgray;
}

.navbar-nav {
    text-align: center;
    
    .nav-link {
        margin: 0 10px;
        font-size: 1.325rem;
        transition: all 0.4s ease-in-out;

        &:hover {
            color: orange;
        }
    }
}

.page_header {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/background.png');
    background-size: cover;
    height: 450px;

    @media (min-width: 1025px) {
        background-position: 100%;
    }

    @media (max-width: 1024px) {
        background-position-x: center;
    }

    .module_header-col {
        text-align: center;
        margin: 42px 0;

        @media (max-width: 1440px) {
            margin: 3% 0;
        }
    }
}

.content {
    padding: 30px 2%;

    .content-col {
        background: white;
        border-radius: 8px;

        &:not(.col-md-3) {
            padding: 5px;
        }

        @media (min-width: 991px) {
            &.content-infos {
                margin-left: 8%;
            }
        }
    }
}